/******* CONFIGURAÇÃO GERAL**********/
*   {
    margin: 0;
    padding: 0;
}
/******* CABEÇALHO**********/
.header     {
    width: 90%;
    height: 120PX;    
    background:rgb(0, 0, 0); 
    margin: 10px auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;;
    flex-wrap: wrap;
    color: white;  
}
article {
    width: 90%;
    height: 120PX;    
    background:rgba(22, 19, 209, 0.288); 
    margin: 10px auto;
    padding: 15px;
}
body {
    width: 90%;
    height: auto;    
    background:rgba(110, 163, 177, 0.288); 
    margin: 10px auto;
    padding: 15px;
}
 .menu {
    display: flex;
 }
 
.menu li a{
    text-decoration: none;
    color: white;
    display: block;
    margin: 10px;
    font-size: 0.8em;    
}
ul{
    list-style: none;
    display: flex;    
} 
/******* CONFIGURAÇÃO CORPO**********/

#conteudo {
    background: #dcdcdc;
    width: 800px;
      
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item {
    width: 100px; 
    height: 100px;
    background: white;
    border: 1px solid red;
    margin: 10px;
    min-width: 230px;
}

/*
#conteudo-centro {
    width: 200px;
    height: 200px;
    
    border: 1p solid  rgb(54, 63, 182);
}

.conteudo1   {
    width: 200px;
    height: 200px;
    
    border: 1p solid  rgb(54, 63, 182);
}
img {     
   
}
.flex #conteudo-centro .conteudo1    {
    border: 1p solid  rgb(54, 63, 182);
}
.conteudo   {
    border: 1p solid  red;
}
/*
.flex   {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;

}
.flex > div{
    flex: 2 1 200px;
    margin: 10px;

} 
.grid1  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1280px;
    justify-content: space-around;
    margin: 0 auto;
    
}